# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# ----------------------------
# Database
# ----------------------------
*.db

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# Logs & runtime data
# ----------------------------
var/log/
var/data/
*.log

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Frontend
# ----------------------------
web/node_modules/
web/dist/
web/.vite/

# ----------------------------
# IDEs
# ----------------------------
.vscode/
.idea/